client onboarding?
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "client onboarding",
        "formFields": {
          "values": [
            {
              "fieldLabel": "fulll name"
            },
            {
              "fieldLabel": "email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "company"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -304,
        -64
      ],
      "id": "0382d11a-3dc6-456f-b8de-0a8df09d9f98",
      "name": "On form submission",
      "webhookId": "ae9d3c93-291f-4638-a320-ff0a193e0d20"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appVejIu6NQJBrsAY",
          "mode": "list",
          "cachedResultName": "Socal media monitoring",
          "cachedResultUrl": "https://airtable.com/appVejIu6NQJBrsAY"
        },
        "table": {
          "__rl": true,
          "value": "tblToN95H1Wq55IYM",
          "mode": "list",
          "cachedResultName": "Client Onboarding",
          "cachedResultUrl": "https://airtable.com/appVejIu6NQJBrsAY/tblToN95H1Wq55IYM"
        },
        "filterByFormula": "={Email} =\"{{ $json[\"email\"] }}\"",
        "options": {
          "view": {
            "__rl": true,
            "value": "viwzKaptlNROd8866",
            "mode": "list",
            "cachedResultName": "Grid view",
            "cachedResultUrl": "https://airtable.com/appVejIu6NQJBrsAY/tblToN95H1Wq55IYM/viwzKaptlNROd8866"
          }
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -80,
        -64
      ],
      "id": "0591ea2e-a6d0-4bf7-99cf-534a2c2bff67",
      "name": "Search records",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "7AfPgr34WoShQqoN",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appVejIu6NQJBrsAY",
          "mode": "list",
          "cachedResultName": "Socal media monitoring",
          "cachedResultUrl": "https://airtable.com/appVejIu6NQJBrsAY"
        },
        "table": {
          "__rl": true,
          "value": "tblToN95H1Wq55IYM",
          "mode": "list",
          "cachedResultName": "Client Onboarding",
          "cachedResultUrl": "https://airtable.com/appVejIu6NQJBrsAY/tblToN95H1Wq55IYM"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('On form submission').item.json['fulll name'] }}",
            "Email": "={{ $('On form submission').item.json.email }}",
            "Company": "={{ $('On form submission').item.json.company }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        288,
        64
      ],
      "id": "fb0accda-7e0e-47ad-876d-b2b34f3d208f",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "7AfPgr34WoShQqoN",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "workspace": "1211480155504505",
        "name": "=onboard the client {{ $json.fields.Name }}",
        "otherProperties": {
          "assignee": "1211480155504493",
          "assignee_status": "inbox",
          "projects": [
            "1211480154775908"
          ]
        }
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        544,
        -64
      ],
      "id": "d51a8703-98ea-4a21-9533-0c0020e2b917",
      "name": "Create a task",
      "credentials": {
        "asanaApi": {
          "id": "NWuuHpvEboYjtV9h",
          "name": "Asana account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9dcc0ad8-da40-443a-ad45-01cd921ad1ce",
              "leftValue": "={{ $json[\"Email\"] && $json[\"Email\"].length > 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        144,
        -64
      ],
      "id": "c8b0aedf-3cf7-4e12-bf55-011e866650f0",
      "name": "If airtable record exist"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "05abdeab-736f-4e88-a3e6-216517b4d90c",
              "leftValue": "={{ $json[\"items\"] && $json[\"items\"].length > 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -304,
        160
      ],
      "id": "e11290de-7610-478d-a79e-dacefe5fbc66",
      "name": "If asana record exist"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "client onboard",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "14VXFz8gJh3EBkLCaMQ6QL1BWvdCUgsof",
          "mode": "list",
          "cachedResultName": "n8n client onboarding",
          "cachedResultUrl": "https://drive.google.com/drive/folders/14VXFz8gJh3EBkLCaMQ6QL1BWvdCUgsof"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        -64
      ],
      "id": "a8223951-b051-4b85-9f4a-8184755a6464",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rQQy7YM3zaVHoZxb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "share",
        "folderNoRootId": {
          "__rl": true,
          "value": "1CJh3R7iDcXBacid-HaF1DkCYjag4DkV4",
          "mode": "list",
          "cachedResultName": "client onboard",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1CJh3R7iDcXBacid-HaF1DkCYjag4DkV4"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "user",
            "emailAddress": "={{ $('Create a record').item.json.fields.Email }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        -64
      ],
      "id": "86809494-074d-4f19-b0aa-b62eda1cb329",
      "name": "Share folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rQQy7YM3zaVHoZxb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Create a record').item.json.fields.Email }}",
        "subject": "Welcome onboard",
        "emailType": "text",
        "message": "This is a welcome email . this is a link to your folder",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1184,
        -64
      ],
      "id": "03b16393-0ac4-4e9b-beac-952cc1eb91ac",
      "name": "Send a message",
      "webhookId": "5c7bcb23-943b-4893-ba81-8c1ffdb6d453",
      "credentials": {
        "gmailOAuth2": {
          "id": "Kb9TPGqLlRz4dxms",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "If airtable record exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If airtable record exist": {
      "main": [
        [],
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Share folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share folder": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "On form submission": [
      {
        "fulll name": "James",
        "email": "james@gmail.com",
        "company": "mikecomp",
        "submittedAt": "2025-09-30T11:55:33.818+03:00",
        "formMode": "test"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dde4fc4c62478cd1b2d728d3c0ca8ee8401bcc934d50f708d35dbcd718dc2a37"
  }
}
