content generation and posting
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "178oOg-341gj7Ub0PtERP6YWFX5aOWr-Z9l4xTtF1ymU",
          "mode": "list",
          "cachedResultName": "New content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/178oOg-341gj7Ub0PtERP6YWFX5aOWr-Z9l4xTtF1ymU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 876195109,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/178oOg-341gj7Ub0PtERP6YWFX5aOWr-Z9l4xTtF1ymU/edit#gid=876195109"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        16
      ],
      "id": "407ebcdb-dc64-480d-9c79-8f907350c462",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "1JznZ07HwZNOVm1i",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        256,
        240
      ],
      "id": "4d4e6da3-b5a7-4539-879e-9dd73f0b1d5a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rRI4uOU6mRQ0DpuI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workspace": "1211480155504505",
        "name": "=New post ( {{ $('Google Sheets Trigger').item.json.Title }} )",
        "otherProperties": {
          "assignee": "1211480155504493",
          "completed": false,
          "due_on": "2025-10-24T00:00:00",
          "notes": "={{ $('Generate content').item.json.output }}",
          "projects": [
            "1211636835951850"
          ]
        }
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        976,
        16
      ],
      "id": "f76fa1d9-6ff7-4298-924a-5d88ed7b9c16",
      "name": "Create a task",
      "credentials": {
        "asanaApi": {
          "id": "Ddx09IDeCstbgnVr",
          "name": "Asana account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.gid }}"
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        1424,
        16
      ],
      "id": "c7064af7-da40-4dc8-bf38-d19fb297dffe",
      "name": "Get a task",
      "credentials": {
        "asanaApi": {
          "id": "Ddx09IDeCstbgnVr",
          "name": "Asana account"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        2096,
        -80
      ],
      "id": "09a127e2-89cd-4e60-b5f2-ea0d9f257000",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "Gbf2CuD527E4M1Su",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        2096,
        112
      ],
      "id": "fb39a384-160a-45d4-98de-61c6c6cbdaa1",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "ftdQmjwFQHhgUc2f",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1200,
        16
      ],
      "id": "bdda4b87-2243-4bd7-9c82-a0ccfc080161",
      "name": "Wait",
      "webhookId": "1d1d8056-97fb-4323-9029-01df13e09e86"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"{{ $('Google Sheets Trigger').item.json.Title }} futuristic illustration, digital art, vibrant lighting, trending on artstation\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        16
      ],
      "id": "1bd81c37-b33d-4448-a7f1-7d0740ee1a3b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1aqX0mFTjZ7eC9lyciGoLsQzUjoIo1DrR",
          "mode": "list",
          "cachedResultName": "image from n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1aqX0mFTjZ7eC9lyciGoLsQzUjoIo1DrR"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        752,
        16
      ],
      "id": "2bb3233a-6ad6-4982-a6d0-2a45d3e27592",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "n0CkzxTkbGcR2TMq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Upload file').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {}
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1872,
        16
      ],
      "id": "f634f8a7-5054-46fe-98fa-892c0f69cd56",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "n0CkzxTkbGcR2TMq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a post about {{ $json.Title }} , be friendly but professional. It should be like a social media post and not an AI response.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You You are a social media expert, You are to create short and engaging content for X and linkedin posts. It should have a soothing title. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        176,
        16
      ],
      "id": "cd19884f-6609-400b-a172-5f080b5a937f",
      "name": "Generate content"
    },
    {
      "parameters": {
        "content": "This is a content generation workflow\n1. A google form response trigger in the sheet with auy update on the sheet\n2. Post/content will be generated if the status has been  approved\n3. Image will be generated using huggingface.co api\n4. After image creation, then the image will be uploaed to a folder and the weblink view link will be taken.\n5. Task is created on Asna and also retrieved afer wait perios.\n7. If the task is completed then post is sent to platforms\n8. And google sheet is creaeted",
        "height": 368,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        -400
      ],
      "typeVersion": 1,
      "id": "7d5346bc-54af-47c0-a0b5-b01f8e1ea2b5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd026931-528c-4dab-9de1-eee29150aa08",
              "leftValue": "={{ $json['Approval status'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -48,
        16
      ],
      "id": "42e9cf05-6559-4a41-81b4-4eefb9fc09ec",
      "name": "If status is approved"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8621720f-e7dc-4eb0-b49c-03494a072269",
              "leftValue": "={{ $json.completed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1648,
        16
      ],
      "id": "c97bf0dd-a4fe-410a-8ef8-4732ef22fb4d",
      "name": "If task is completed"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2240,
        -80
      ],
      "id": "80e77a9d-339e-4524-96e8-d1e9b25afac4",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DUZcJNjbOy61vdvz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2304,
        112
      ],
      "id": "ec5a5589-48e7-4b9e-90a1-4913383a92fd",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DUZcJNjbOy61vdvz",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If status is approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a task": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a task": {
      "main": [
        [
          {
            "node": "If task is completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tweet": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate content": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If status is approved": {
      "main": [
        [
          {
            "node": "Generate content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If task is completed": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "974730ea3de78992a4ed8dad9f486a901eb7c83ba94edec60c54ce44cfbf53a7"
  }
}
