Invoice creation and payment reminder
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "177Q24o_sCwFabyfFsKzFFjsiGY-gdvq-HP32S9Ibxyw",
          "mode": "list",
          "cachedResultName": "Payment Reminder",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/177Q24o_sCwFabyfFsKzFFjsiGY-gdvq-HP32S9Ibxyw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/177Q24o_sCwFabyfFsKzFFjsiGY-gdvq-HP32S9Ibxyw/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        208
      ],
      "id": "edce4168-05c9-44a9-90aa-303e1781e1c2",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "1JznZ07HwZNOVm1i",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst updatedItems = items.map((item) => {\n  const currentDate = new Date();\n  currentDate.setDate(currentDate.getDate() + 7);\n  item.json.nextWeekDate = currentDate.toISOString().split(\"T\")[0];\n  return item;\n});\n\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        208
      ],
      "id": "bc44f225-3d48-495d-9aa9-83d1b101dce7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets Trigger').item.json['Client Email'] }}",
        "subject": "Payment Reminder",
        "emailType": "text",
        "message": "=Hi {{ $('Google Sheets Trigger').item.json['Client Name'] }} ,  This is a gentle reminder that your invoice of ${{ $('Google Sheets Trigger').item.json['Invoice Amount'] }} is due on {{ $json.nextWeekDate }}.  Kindly complete your payment at your earliest convenience.   Thank you for your business!  Best regards,   [Josh]",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        992,
        208
      ],
      "id": "e542d63e-7166-46b7-9aee-ce9cf399089b",
      "name": "Send a message",
      "webhookId": "03d04209-63b7-4a79-b19b-56b6822d4d16",
      "credentials": {
        "gmailOAuth2": {
          "id": "7fZT8Uoi4oxvd5YZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        544,
        208
      ],
      "id": "b626aa98-4a75-484e-b503-e3a6a2ef0115",
      "name": "Wait",
      "webhookId": "c218610d-ed6d-46ed-ba4c-493bba68b05f"
    },
    {
      "parameters": {
        "content": "This first workflow creates/ generates invoice for each client.\n1. When a form is filled with all necessary information by the client.\n2. This information is fed into the prompted Ai agent to create an invoice with the given information.\n3. After that, a documet is created and edited/updated with the invoice information.\n4. The doc is downloaded as pdf and sent to the cliebt's email. \n5. Lastly the infirmation is reated on the database (google sheet)",
        "height": 512,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        -832
      ],
      "typeVersion": 1,
      "id": "fd4556fe-b051-4432-9358-fe7115e09236",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "This next workfloww is for payment reminder.\n1. When a row is added to the database(google sheeet)\n2. A javascript code base is used to generate the date of the next 7 days and then collected.\n3. then we will have a 5 days wait and check if it has been paid.\n4. If still unpaid a reminder email is sent to client with the due date.(7th day)\n",
        "height": 288,
        "width": 736,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        160
      ],
      "typeVersion": 1,
      "id": "f90c230b-28b7-4dc8-b21f-f3579b378b1e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c0dfaf6-741a-4518-b79b-b2942d6c901d",
              "name": "nextWeekDate",
              "value": "={{ $json.nextWeekDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        208
      ],
      "id": "d23c1d1e-789d-4619-9b26-5415ecce166b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "177Q24o_sCwFabyfFsKzFFjsiGY-gdvq-HP32S9Ibxyw",
          "mode": "list",
          "cachedResultName": "Payment Reminder",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/177Q24o_sCwFabyfFsKzFFjsiGY-gdvq-HP32S9Ibxyw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1301978575,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/177Q24o_sCwFabyfFsKzFFjsiGY-gdvq-HP32S9Ibxyw/edit#gid=1301978575"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        -576
      ],
      "id": "232623fd-0800-4b22-9233-4e8606993005",
      "name": "Google Sheets Trigger2",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "1JznZ07HwZNOVm1i",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "995eb7ba-a99d-40d0-b9c9-b4fd066980f9",
              "name": "Company",
              "value": "={{ $json.Company }}",
              "type": "string"
            },
            {
              "id": "f25385c5-5506-4740-a361-030c69638f92",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "51a97aad-95e0-4039-a638-b5507e97a1ca",
              "name": "Description",
              "value": "={{ $json.Description }}",
              "type": "string"
            },
            {
              "id": "d35736c2-1d10-437b-8563-67d6cc1394d0",
              "name": "Amount",
              "value": "={{ $json.Amount }}",
              "type": "number"
            },
            {
              "id": "25bc8149-a77c-4286-9a3e-69de66f56eaa",
              "name": "Name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "8f1dd075-1a4a-460b-90f5-05cc44031eff",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "0c0f1be0-0ac6-4e49-a3e3-e339eac59156",
              "name": "Date",
              "value": "={{ $json.Date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -576
      ],
      "id": "6902e2ff-3aa8-4d27-a7c9-9f6849a66159",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "177Q24o_sCwFabyfFsKzFFjsiGY-gdvq-HP32S9Ibxyw",
          "mode": "list",
          "cachedResultName": "Payment Reminder",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/177Q24o_sCwFabyfFsKzFFjsiGY-gdvq-HP32S9Ibxyw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/177Q24o_sCwFabyfFsKzFFjsiGY-gdvq-HP32S9Ibxyw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client Name": "={{ $('Google Sheets Trigger2').item.json.Name }}",
            "Client Email": "={{ $('Google Sheets Trigger2').item.json.Email }}",
            "Invoice Amount": "={{ $('Google Sheets Trigger2').item.json.Amount }}",
            "Description": "={{ $('Google Sheets Trigger2').item.json.Description }}",
            "Invoice Date": "={{ $('Edit Fields2').item.json.Date }}",
            "Payment Status": "Unpaid"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice ID",
              "displayName": "Invoice ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Amount",
              "displayName": "Invoice Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment Status",
              "displayName": "Payment Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Days (7)",
              "displayName": "Due Days (7)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1632,
        -576
      ],
      "id": "78a2dfc2-1df4-4bc4-844b-5e742dade560",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DUZcJNjbOy61vdvz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Use these informations to process an anvoice \nCompany: {{ $json.Company }}\nClient email:{{ $json.Email }}\nDescription: {{ $json.Description }}\nAmount: {{ $json.Amount }}\nclient name:  {{ $json.Name }}\nphone : {{ $json.phone }}\nDate: {{ $json.Date }}",
        "options": {
          "systemMessage": "You are an Onboarding service Your job is to collect input data and create a professional invoice for our client in google document.\nmy business name is: TrailzAutomations\nBusness Email is: Suuportjosh@gmail.com \n\nFormat it as a formal invoice with:\n\nA clear header (\"Invoice\")\n\nYour business name and contact info at the top\n\nA professional layout (tables or line breaks)\n\nA total amount section\n\nA polite closing note (“Thank you for your business!”)\n\n Remove markdown but add tables where necessary. Label the company information from the client information like using \nComapny email\nclient email\nCompay Name\nclient comapny name\netc.\n\nRandoml generate an ID for each invoice\n\n Also, remove those extra/unnecessary Ai response."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        384,
        -672
      ],
      "id": "15b4b559-aa97-4edf-aa26-2ff480e09798",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        -448
      ],
      "id": "08816142-e7a7-4389-9c40-c386e0ab89e1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rRI4uOU6mRQ0DpuI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1aqX0mFTjZ7eC9lyciGoLsQzUjoIo1DrR",
        "title": "=invoice for ({{ $('Google Sheets Trigger2').item.json.Name }})"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        736,
        -576
      ],
      "id": "cf4f834c-a190-4175-b03b-20f968272284",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "MdSnEBKjeTKck1xJ",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        960,
        -576
      ],
      "id": "b8ffc298-7646-48ad-b504-3a8bf3df049c",
      "name": "Update a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "MdSnEBKjeTKck1xJ",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1184,
        -576
      ],
      "id": "d2577474-56f3-4cec-b7fc-9cb7eb3f3bb1",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "n0CkzxTkbGcR2TMq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields2').item.json.Email }}",
        "subject": "Here is your invoice",
        "emailType": "text",
        "message": "Kindly viw your invoice and make payment ",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1408,
        -560
      ],
      "id": "8a32acc6-8b5a-46b7-b8a9-b70db5abddab",
      "name": "Send a message1",
      "webhookId": "a5120b76-0894-4bac-9eec-59cbb212e046",
      "credentials": {
        "gmailOAuth2": {
          "id": "7fZT8Uoi4oxvd5YZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "path": "c93ba86a-6173-4986-af9d-c09a25de36a0",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -128,
        -64
      ],
      "id": "4e1228e4-e680-4267-be5e-5bfc69dfd1fa",
      "name": "Webhook",
      "webhookId": "c93ba86a-6173-4986-af9d-c09a25de36a0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9dc61fd0-0679-4d14-860a-7bcee7b2daeb",
              "name": "body.client_email",
              "value": "={{ $json.body.client_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        -160
      ],
      "id": "85ae8cfc-fa0c-429e-928b-63cb879aa2bb",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "177Q24o_sCwFabyfFsKzFFjsiGY-gdvq-HP32S9Ibxyw",
          "mode": "list",
          "cachedResultName": "Payment Reminder",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/177Q24o_sCwFabyfFsKzFFjsiGY-gdvq-HP32S9Ibxyw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/177Q24o_sCwFabyfFsKzFFjsiGY-gdvq-HP32S9Ibxyw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Client Email",
              "lookupValue": "={{ $json.body.client_email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        -160
      ],
      "id": "cff8000a-f389-4e8f-85ea-0af0be5f9e67",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DUZcJNjbOy61vdvz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "177Q24o_sCwFabyfFsKzFFjsiGY-gdvq-HP32S9Ibxyw",
          "mode": "list",
          "cachedResultName": "Payment Reminder",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/177Q24o_sCwFabyfFsKzFFjsiGY-gdvq-HP32S9Ibxyw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/177Q24o_sCwFabyfFsKzFFjsiGY-gdvq-HP32S9Ibxyw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Payment Status": "Paid",
            "row_number": "={{ $json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Invoice ID",
              "displayName": "Invoice ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Amount",
              "displayName": "Invoice Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment Status",
              "displayName": "Payment Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Due Days (7)",
              "displayName": "Due Days (7)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "InvoiceLink",
              "displayName": "InvoiceLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        -160
      ],
      "id": "b3e13120-527b-443f-9603-d3d489a4b46b",
      "name": "Update row in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DUZcJNjbOy61vdvz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "=channel",
        "channelId": {
          "__rl": true,
          "value": "C099QP74N9K",
          "mode": "list",
          "cachedResultName": "personal-learning-"
        },
        "user": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "text": "=Hello, you have a new payment from {{ $('Get row(s) in sheet').item.json['Client Name'] }}, with the amount of {{ $('Get row(s) in sheet').item.json['Invoice Amount'] }}.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        768,
        -160
      ],
      "id": "efdcf417-0dc1-4f9f-8e26-46290dc5cc3f",
      "name": "Send a message2",
      "webhookId": "87c0879c-7deb-4d9c-be57-9bcd5299ec93",
      "credentials": {
        "slackOAuth2Api": {
          "id": "ZC2X8eZQzA9LaER9",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2808d980-e893-4e5f-ab0f-78e592fd7825",
              "leftValue": "={{ $('Google Sheets Trigger').item.json['Payment Status'] }}",
              "rightValue": "Paid",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        208
      ],
      "id": "253d88a3-9e18-43bb-8f62-0775c2c34940",
      "name": "If"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "Payment Recieved"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        -256
      ],
      "id": "8a79a1a2-d154-40a6-9859-20ae3b7e7cca",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "7fZT8Uoi4oxvd5YZ",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Google Sheets Trigger": [
      {
        "Client Name": "Jay",
        "Client Email": "test1@mailinator.com",
        "Invoice Amount": 500,
        "Invoice Dtae": "20/10/2025",
        "Payment Status": "unpaid",
        "Due Days (7/14)": 7
      }
    ],
    "Google Sheets Trigger2": [
      {
        "Timestamp": "10/27/2025 12:46:30",
        "Company": "AI Company",
        "Email": "test1@mailinator.com",
        "Description": "I want a design for both landing page and main app",
        "Amount": 1000,
        "Name": "Josh Mordi",
        "phone": "+1334576458",
        "Date": "10/27/2025"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "974730ea3de78992a4ed8dad9f486a901eb7c83ba94edec60c54ce44cfbf53a7"
  }
}
