multbound leads classified
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inbound-lead",
        "options": {}
      },
      "id": "0d6880dc-eae3-4c5e-82c6-41d71eb8c7d8",
      "name": "Webhook - Inbound Leads",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1936,
        256
      ],
      "webhookId": "73dc4d05-8878-4dbc-8248-1e3e7c82fc42"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "company",
              "value": "={{ $json.body.company }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "source",
              "value": "={{ $json.body.source ?? \"webhook\" }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "34797fd1-2bee-46d8-80a8-02bc6ce7e16d",
      "name": "Normalize Webhook Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1712,
        256
      ]
    },
    {
      "parameters": {},
      "id": "492a2d7b-5e50-4441-b3ea-6ba65d06a383",
      "name": "Merge All Lead Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1488,
        352
      ]
    },
    {
      "parameters": {
        "formTitle": "Contact Us",
        "formDescription": "Get in touch with our sales team",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "fieldName": "name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "fieldName": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Company",
              "fieldName": "company",
              "requiredField": true
            },
            {
              "fieldLabel": "Message",
              "fieldType": "textarea",
              "fieldName": "message",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "af4c585c-5edf-4e37-9886-8b31db7e20c5",
      "name": "Form - Contact Us",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1936,
        448
      ],
      "webhookId": "1192997d-5a3a-498e-9439-e8ce02d1bb94"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "company",
              "value": "={{ $json.company }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "source",
              "value": "form",
              "type": "string"
            },
            {
              "id": "6",
              "name": "timestamp",
              "value": "={{ $json.submittedAt ?? $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6e486747-6326-4919-8f83-0004806aa796",
      "name": "Normalize Form Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1712,
        448
      ]
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "email",
        "options": {}
      },
      "id": "1a362523-c96d-4c67-8044-3c1241432cd7",
      "name": "Deduplicate by Email",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        -1264,
        352
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this inbound lead and provide structured classification:\n\nLead Details:\n- Name: {{ $json.name }}\n- Email: {{ $json.email }}\n- Company: {{ $json.company }}\n- Message: {{ $json.message }}\n- Source: {{ $json.source }}\n\nClassify the lead intent (demo_request, pricing_inquiry, support_question, partnership, job_application, spam, other).\n\nDetect if spam (true/false) and provide reason if spam.\n\nSummarize the conversation in one sentence.\n\nEstimate deal size in USD (0-1000000).\n\nRate urgency (low, medium, high).\n\nIdentify product interest (starter, professional, enterprise, unclear).\n\nEstimate company size (small: 1-50, medium: 51-500, large: 500+, unknown).",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert sales lead classifier. Analyze inbound leads and provide accurate, structured classifications to help route leads to the right sales team.",
          "maxIterations": 3
        }
      },
      "id": "15b41272-fc6f-4954-bdaf-e735782760b7",
      "name": "AI Lead Classifier",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1024,
        320
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "id": "f000ecd0-c84f-4542-955d-a6956b215464",
      "name": "OpenAI GPT-5 Mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1104,
        528
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"intent\": \"demo_request\",\n  \"isSpam\": false,\n  \"spamReason\": \"\",\n  \"summary\": \"Enterprise customer interested in demo\",\n  \"estimatedDealSize\": 50000,\n  \"urgency\": \"high\",\n  \"productInterest\": \"enterprise\",\n  \"companySize\": \"medium\"\n}"
      },
      "id": "01e512f0-6659-4a63-b4dc-5ca4a81ca751",
      "name": "Structured Lead Analysis",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -784,
        544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.output.isSpam }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "a8d34b12-39e9-4175-88e8-04e1603fa69b"
            },
            {
              "id": "f65a6446-28c4-488d-ae21-acae48cf2305",
              "leftValue": "={{ $json.output.spamReason }}",
              "rightValue": "\"\"",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "f7ad3163-542b-454a-9a1a-f16fd8c91672",
              "leftValue": "={{ $json.output.isSpam }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "7e74326d-297e-410f-a83f-867d844d82c3",
      "name": "Filter Spam",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -688,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "email",
              "value": "={{ $(\"Deduplicate by Email\").item.json.email }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "name",
              "value": "={{ $(\"Deduplicate by Email\").item.json.name }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "company",
              "value": "={{ $(\"Deduplicate by Email\").item.json.company }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "message",
              "value": "={{ $(\"Deduplicate by Email\").item.json.message }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "source",
              "value": "={{ $(\"Deduplicate by Email\").item.json.source }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "timestamp",
              "value": "={{ $(\"Deduplicate by Email\").item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "intent",
              "value": "={{ $('AI Lead Classifier').item.json.output.intent }}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "summary",
              "value": "={{ $('AI Lead Classifier').item.json.output.summary }}",
              "type": "string"
            },
            {
              "id": "9",
              "name": "estimatedDealSize",
              "value": "={{ $('AI Lead Classifier').item.json.output.estimatedDealSize }}",
              "type": "number"
            },
            {
              "id": "10",
              "name": "urgency",
              "value": "={{ $('AI Lead Classifier').item.json.output.urgency }}",
              "type": "string"
            },
            {
              "id": "11",
              "name": "productInterest",
              "value": "={{ $('AI Lead Classifier').item.json.output.productInterest }}",
              "type": "string"
            },
            {
              "id": "12",
              "name": "companySize",
              "value": "={{ $('AI Lead Classifier').item.json.output.companySize }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a640e595-b976-45c3-8c30-134ed72881a2",
      "name": "Combine Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        192
      ]
    },
    {
      "parameters": {
        "resource": "person",
        "email": "={{ $(\"Combine Lead Data\").item.json.email }}",
        "additionalFields": {
          "companyDomain": "={{ $(\"Combine Lead Data\").item.json.company }}"
        }
      },
      "id": "ab6544f8-8dcb-497b-ae10-5c72d20dedf8",
      "name": "Enrich Person - Clearbit",
      "type": "n8n-nodes-base.clearbit",
      "typeVersion": 1,
      "position": [
        -240,
        448
      ]
    },
    {
      "parameters": {
        "domain": "={{ $json.employment.domain }}",
        "additionalFields": {}
      },
      "id": "be99f718-2934-4f45-9df0-650bdc2696c6",
      "name": "Enrich Company - Clearbit",
      "type": "n8n-nodes-base.clearbit",
      "typeVersion": 1,
      "position": [
        -16,
        448
      ]
    },
    {
      "parameters": {},
      "id": "cb888a28-ff8d-480c-815a-157251fbe21a",
      "name": "Merge Enrichment Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        240,
        384
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/v1/organizations/enrich",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"email\": $json.email } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "8887047c-0303-450e-bbe7-1d1081084386",
      "name": "Enrich with Apollo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        256
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "57FRONDLAbShgO1A",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "WZIdl3O2xiChXBSN",
          "name": "apollo api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calculate lead score based on multiple factors\nconst items = $input.all();\nconst scoredItems = [];\n\nfor (const item of items) {\n  const data = item.json;\n  let score = 0;\n  \n  // Base score from AI urgency\n  if (data.urgency === 'high') score += 30;\n  else if (data.urgency === 'medium') score += 20;\n  else score += 10;\n  \n  // Score from estimated deal size\n  if (data.estimatedDealSize >= 100000) score += 30;\n  else if (data.estimatedDealSize >= 50000) score += 20;\n  else if (data.estimatedDealSize >= 10000) score += 10;\n  \n  // Score from company size\n  if (data.companySize === 'large') score += 25;\n  else if (data.companySize === 'medium') score += 15;\n  else if (data.companySize === 'small') score += 5;\n  \n  // Score from product interest\n  if (data.productInterest === 'enterprise') score += 15;\n  else if (data.productInterest === 'professional') score += 10;\n  else if (data.productInterest === 'starter') score += 5;\n  \n  // Determine tier\n  let tier = 'cold';\n  if (score >= 70) tier = 'hot';\n  else if (score >= 50) tier = 'warm';\n  \n  scoredItems.push({\n    json: {\n      ...data,\n      leadScore: score,\n      leadTier: tier\n    }\n  });\n}\n\nreturn scoredItems;"
      },
      "id": "b8e69cd4-9e4c-4a41-8aeb-22c0621bfd11",
      "name": "Calculate Lead Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        352
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.companySize }}",
                    "rightValue": "large",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "eca9e2e7-9411-4421-8ab1-95b99d6006a8"
                  },
                  {
                    "leftValue": "={{ $json.productInterest }}",
                    "rightValue": "enterprise",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "206307ae-a121-4d1f-9758-09e3daf3b603"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Enterprise Team"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.companySize }}",
                    "rightValue": "medium",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c61951a7-9493-4ea1-88be-9e72aa94b667"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mid-Market Team"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.companySize }}",
                    "rightValue": "small",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c159423d-76c3-4b12-9e0c-b70b1d5c64b9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SMB Team"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "General Queue"
        }
      },
      "id": "be404983-44af-46b5-ad1e-6c11d0bd3b72",
      "name": "Route to Sales Rep",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        656,
        320
      ]
    },
    {
      "parameters": {
        "resource": "deal",
        "stage": "={{ $json.leadTier === \"hot\" ? \"appointmentscheduled\" : \"qualifiedtobuy\" }}",
        "additionalFields": {
          "amount": "={{ $json.estimatedDealSize }}",
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "lead_source",
                "value": "={{ $json.source }}"
              },
              {
                "property": "lead_score",
                "value": "={{ $json.leadScore }}"
              },
              {
                "property": "urgency",
                "value": "={{ $json.urgency }}"
              }
            ]
          },
          "description": "={{ $json.summary }}",
          "dealName": "={{ $json.company }} - {{ $json.productInterest }}"
        }
      },
      "id": "e9717c51-0779-4742-a29a-546d58f3479c",
      "name": "Create HubSpot Deal",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        880,
        352
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "sales-leads"
        },
        "messageType": "block",
        "blocksUi": "={{ [{\"type\": \"header\", \"text\": {\"type\": \"plain_text\", \"text\": \"🔥 New \" + $$(\"Calculate Lead Score\").item.json.leadTier.toUpperCase() + \" Lead\"}}, {\"type\": \"section\", \"fields\": [{\"type\": \"mrkdwn\", \"text\": \"*Name:*\\n\" + $$(\"Calculate Lead Score\").item.json.name}, {\"type\": \"mrkdwn\", \"text\": \"*Company:*\\n\" + $$(\"Calculate Lead Score\").item.json.company}, {\"type\": \"mrkdwn\", \"text\": \"*Email:*\\n\" + $$(\"Calculate Lead Score\").item.json.email}, {\"type\": \"mrkdwn\", \"text\": \"*Score:*\\n\" + $$(\"Calculate Lead Score\").item.json.leadScore}, {\"type\": \"mrkdwn\", \"text\": \"*Deal Size:*\\n$\" + $$(\"Calculate Lead Score\").item.json.estimatedDealSize}, {\"type\": \"mrkdwn\", \"text\": \"*Product:*\\n\" + $$(\"Calculate Lead Score\").item.json.productInterest}]}, {\"type\": \"section\", \"text\": {\"type\": \"mrkdwn\", \"text\": \"*Summary:*\\n\" + $$(\"Calculate Lead Score\").item.json.summary}}] }}",
        "text": "=New {{ $$(\"Calculate Lead Score\").item.json.leadTier }} lead: {{ $$(\"Calculate Lead Score\").item.json.name }} from {{ $$(\"Calculate Lead Score\").item.json.company }}",
        "otherOptions": {}
      },
      "id": "bed7d6e2-f78e-4628-b66a-c01a7a5e38c5",
      "name": "Notify Sales Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1104,
        352
      ],
      "webhookId": "424221a4-95b5-4467-a24a-ba848cba72a1"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appXXXXXXXXXXXXXX"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "Lead Audit"
        },
        "columns": {
          "0": "{",
          "1": "{",
          "2": " ",
          "3": "{",
          "4": "\"",
          "5": "E",
          "6": "m",
          "7": "a",
          "8": "i",
          "9": "l",
          "10": "\"",
          "11": ":",
          "12": " ",
          "13": "$",
          "14": "$",
          "15": "(",
          "16": "\"",
          "17": "C",
          "18": "a",
          "19": "l",
          "20": "c",
          "21": "u",
          "22": "l",
          "23": "a",
          "24": "t",
          "25": "e",
          "26": " ",
          "27": "L",
          "28": "e",
          "29": "a",
          "30": "d",
          "31": " ",
          "32": "S",
          "33": "c",
          "34": "o",
          "35": "r",
          "36": "e",
          "37": "\"",
          "38": ")",
          "39": ".",
          "40": "i",
          "41": "t",
          "42": "e",
          "43": "m",
          "44": ".",
          "45": "j",
          "46": "s",
          "47": "o",
          "48": "n",
          "49": ".",
          "50": "e",
          "51": "m",
          "52": "a",
          "53": "i",
          "54": "l",
          "55": ",",
          "56": " ",
          "57": "\"",
          "58": "N",
          "59": "a",
          "60": "m",
          "61": "e",
          "62": "\"",
          "63": ":",
          "64": " ",
          "65": "$",
          "66": "$",
          "67": "(",
          "68": "\"",
          "69": "C",
          "70": "a",
          "71": "l",
          "72": "c",
          "73": "u",
          "74": "l",
          "75": "a",
          "76": "t",
          "77": "e",
          "78": " ",
          "79": "L",
          "80": "e",
          "81": "a",
          "82": "d",
          "83": " ",
          "84": "S",
          "85": "c",
          "86": "o",
          "87": "r",
          "88": "e",
          "89": "\"",
          "90": ")",
          "91": ".",
          "92": "i",
          "93": "t",
          "94": "e",
          "95": "m",
          "96": ".",
          "97": "j",
          "98": "s",
          "99": "o",
          "100": "n",
          "101": ".",
          "102": "n",
          "103": "a",
          "104": "m",
          "105": "e",
          "106": ",",
          "107": " ",
          "108": "\"",
          "109": "C",
          "110": "o",
          "111": "m",
          "112": "p",
          "113": "a",
          "114": "n",
          "115": "y",
          "116": "\"",
          "117": ":",
          "118": " ",
          "119": "$",
          "120": "$",
          "121": "(",
          "122": "\"",
          "123": "C",
          "124": "a",
          "125": "l",
          "126": "c",
          "127": "u",
          "128": "l",
          "129": "a",
          "130": "t",
          "131": "e",
          "132": " ",
          "133": "L",
          "134": "e",
          "135": "a",
          "136": "d",
          "137": " ",
          "138": "S",
          "139": "c",
          "140": "o",
          "141": "r",
          "142": "e",
          "143": "\"",
          "144": ")",
          "145": ".",
          "146": "i",
          "147": "t",
          "148": "e",
          "149": "m",
          "150": ".",
          "151": "j",
          "152": "s",
          "153": "o",
          "154": "n",
          "155": ".",
          "156": "c",
          "157": "o",
          "158": "m",
          "159": "p",
          "160": "a",
          "161": "n",
          "162": "y",
          "163": ",",
          "164": " ",
          "165": "\"",
          "166": "S",
          "167": "o",
          "168": "u",
          "169": "r",
          "170": "c",
          "171": "e",
          "172": "\"",
          "173": ":",
          "174": " ",
          "175": "$",
          "176": "$",
          "177": "(",
          "178": "\"",
          "179": "C",
          "180": "a",
          "181": "l",
          "182": "c",
          "183": "u",
          "184": "l",
          "185": "a",
          "186": "t",
          "187": "e",
          "188": " ",
          "189": "L",
          "190": "e",
          "191": "a",
          "192": "d",
          "193": " ",
          "194": "S",
          "195": "c",
          "196": "o",
          "197": "r",
          "198": "e",
          "199": "\"",
          "200": ")",
          "201": ".",
          "202": "i",
          "203": "t",
          "204": "e",
          "205": "m",
          "206": ".",
          "207": "j",
          "208": "s",
          "209": "o",
          "210": "n",
          "211": ".",
          "212": "s",
          "213": "o",
          "214": "u",
          "215": "r",
          "216": "c",
          "217": "e",
          "218": ",",
          "219": " ",
          "220": "\"",
          "221": "I",
          "222": "n",
          "223": "t",
          "224": "e",
          "225": "n",
          "226": "t",
          "227": "\"",
          "228": ":",
          "229": " ",
          "230": "$",
          "231": "$",
          "232": "(",
          "233": "\"",
          "234": "C",
          "235": "a",
          "236": "l",
          "237": "c",
          "238": "u",
          "239": "l",
          "240": "a",
          "241": "t",
          "242": "e",
          "243": " ",
          "244": "L",
          "245": "e",
          "246": "a",
          "247": "d",
          "248": " ",
          "249": "S",
          "250": "c",
          "251": "o",
          "252": "r",
          "253": "e",
          "254": "\"",
          "255": ")",
          "256": ".",
          "257": "i",
          "258": "t",
          "259": "e",
          "260": "m",
          "261": ".",
          "262": "j",
          "263": "s",
          "264": "o",
          "265": "n",
          "266": ".",
          "267": "i",
          "268": "n",
          "269": "t",
          "270": "e",
          "271": "n",
          "272": "t",
          "273": ",",
          "274": " ",
          "275": "\"",
          "276": "L",
          "277": "e",
          "278": "a",
          "279": "d",
          "280": " ",
          "281": "S",
          "282": "c",
          "283": "o",
          "284": "r",
          "285": "e",
          "286": "\"",
          "287": ":",
          "288": " ",
          "289": "$",
          "290": "$",
          "291": "(",
          "292": "\"",
          "293": "C",
          "294": "a",
          "295": "l",
          "296": "c",
          "297": "u",
          "298": "l",
          "299": "a",
          "300": "t",
          "301": "e",
          "302": " ",
          "303": "L",
          "304": "e",
          "305": "a",
          "306": "d",
          "307": " ",
          "308": "S",
          "309": "c",
          "310": "o",
          "311": "r",
          "312": "e",
          "313": "\"",
          "314": ")",
          "315": ".",
          "316": "i",
          "317": "t",
          "318": "e",
          "319": "m",
          "320": ".",
          "321": "j",
          "322": "s",
          "323": "o",
          "324": "n",
          "325": ".",
          "326": "l",
          "327": "e",
          "328": "a",
          "329": "d",
          "330": "S",
          "331": "c",
          "332": "o",
          "333": "r",
          "334": "e",
          "335": ",",
          "336": " ",
          "337": "\"",
          "338": "L",
          "339": "e",
          "340": "a",
          "341": "d",
          "342": " ",
          "343": "T",
          "344": "i",
          "345": "e",
          "346": "r",
          "347": "\"",
          "348": ":",
          "349": " ",
          "350": "$",
          "351": "$",
          "352": "(",
          "353": "\"",
          "354": "C",
          "355": "a",
          "356": "l",
          "357": "c",
          "358": "u",
          "359": "l",
          "360": "a",
          "361": "t",
          "362": "e",
          "363": " ",
          "364": "L",
          "365": "e",
          "366": "a",
          "367": "d",
          "368": " ",
          "369": "S",
          "370": "c",
          "371": "o",
          "372": "r",
          "373": "e",
          "374": "\"",
          "375": ")",
          "376": ".",
          "377": "i",
          "378": "t",
          "379": "e",
          "380": "m",
          "381": ".",
          "382": "j",
          "383": "s",
          "384": "o",
          "385": "n",
          "386": ".",
          "387": "l",
          "388": "e",
          "389": "a",
          "390": "d",
          "391": "T",
          "392": "i",
          "393": "e",
          "394": "r",
          "395": ",",
          "396": " ",
          "397": "\"",
          "398": "D",
          "399": "e",
          "400": "a",
          "401": "l",
          "402": " ",
          "403": "S",
          "404": "i",
          "405": "z",
          "406": "e",
          "407": "\"",
          "408": ":",
          "409": " ",
          "410": "$",
          "411": "$",
          "412": "(",
          "413": "\"",
          "414": "C",
          "415": "a",
          "416": "l",
          "417": "c",
          "418": "u",
          "419": "l",
          "420": "a",
          "421": "t",
          "422": "e",
          "423": " ",
          "424": "L",
          "425": "e",
          "426": "a",
          "427": "d",
          "428": " ",
          "429": "S",
          "430": "c",
          "431": "o",
          "432": "r",
          "433": "e",
          "434": "\"",
          "435": ")",
          "436": ".",
          "437": "i",
          "438": "t",
          "439": "e",
          "440": "m",
          "441": ".",
          "442": "j",
          "443": "s",
          "444": "o",
          "445": "n",
          "446": ".",
          "447": "e",
          "448": "s",
          "449": "t",
          "450": "i",
          "451": "m",
          "452": "a",
          "453": "t",
          "454": "e",
          "455": "d",
          "456": "D",
          "457": "e",
          "458": "a",
          "459": "l",
          "460": "S",
          "461": "i",
          "462": "z",
          "463": "e",
          "464": ",",
          "465": " ",
          "466": "\"",
          "467": "P",
          "468": "r",
          "469": "o",
          "470": "d",
          "471": "u",
          "472": "c",
          "473": "t",
          "474": " ",
          "475": "I",
          "476": "n",
          "477": "t",
          "478": "e",
          "479": "r",
          "480": "e",
          "481": "s",
          "482": "t",
          "483": "\"",
          "484": ":",
          "485": " ",
          "486": "$",
          "487": "$",
          "488": "(",
          "489": "\"",
          "490": "C",
          "491": "a",
          "492": "l",
          "493": "c",
          "494": "u",
          "495": "l",
          "496": "a",
          "497": "t",
          "498": "e",
          "499": " ",
          "500": "L",
          "501": "e",
          "502": "a",
          "503": "d",
          "504": " ",
          "505": "S",
          "506": "c",
          "507": "o",
          "508": "r",
          "509": "e",
          "510": "\"",
          "511": ")",
          "512": ".",
          "513": "i",
          "514": "t",
          "515": "e",
          "516": "m",
          "517": ".",
          "518": "j",
          "519": "s",
          "520": "o",
          "521": "n",
          "522": ".",
          "523": "p",
          "524": "r",
          "525": "o",
          "526": "d",
          "527": "u",
          "528": "c",
          "529": "t",
          "530": "I",
          "531": "n",
          "532": "t",
          "533": "e",
          "534": "r",
          "535": "e",
          "536": "s",
          "537": "t",
          "538": ",",
          "539": " ",
          "540": "\"",
          "541": "T",
          "542": "i",
          "543": "m",
          "544": "e",
          "545": "s",
          "546": "t",
          "547": "a",
          "548": "m",
          "549": "p",
          "550": "\"",
          "551": ":",
          "552": " ",
          "553": "$",
          "554": "$",
          "555": "(",
          "556": "\"",
          "557": "C",
          "558": "a",
          "559": "l",
          "560": "c",
          "561": "u",
          "562": "l",
          "563": "a",
          "564": "t",
          "565": "e",
          "566": " ",
          "567": "L",
          "568": "e",
          "569": "a",
          "570": "d",
          "571": " ",
          "572": "S",
          "573": "c",
          "574": "o",
          "575": "r",
          "576": "e",
          "577": "\"",
          "578": ")",
          "579": ".",
          "580": "i",
          "581": "t",
          "582": "e",
          "583": "m",
          "584": ".",
          "585": "j",
          "586": "s",
          "587": "o",
          "588": "n",
          "589": ".",
          "590": "t",
          "591": "i",
          "592": "m",
          "593": "e",
          "594": "s",
          "595": "t",
          "596": "a",
          "597": "m",
          "598": "p",
          "599": ",",
          "600": " ",
          "601": "\"",
          "602": "S",
          "603": "u",
          "604": "m",
          "605": "m",
          "606": "a",
          "607": "r",
          "608": "y",
          "609": "\"",
          "610": ":",
          "611": " ",
          "612": "$",
          "613": "$",
          "614": "(",
          "615": "\"",
          "616": "C",
          "617": "a",
          "618": "l",
          "619": "c",
          "620": "u",
          "621": "l",
          "622": "a",
          "623": "t",
          "624": "e",
          "625": " ",
          "626": "L",
          "627": "e",
          "628": "a",
          "629": "d",
          "630": " ",
          "631": "S",
          "632": "c",
          "633": "o",
          "634": "r",
          "635": "e",
          "636": "\"",
          "637": ")",
          "638": ".",
          "639": "i",
          "640": "t",
          "641": "e",
          "642": "m",
          "643": ".",
          "644": "j",
          "645": "s",
          "646": "o",
          "647": "n",
          "648": ".",
          "649": "s",
          "650": "u",
          "651": "m",
          "652": "m",
          "653": "a",
          "654": "r",
          "655": "y",
          "656": "}",
          "657": " ",
          "658": "}",
          "659": "}",
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e8df4f95-ea26-473c-afda-33bbf3a81a0a",
      "name": "Create Audit Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1328,
        352
      ]
    },
    {
      "parameters": {
        "team": "={{ \"team_id\" }}",
        "space": "={{ \"space_id\" }}",
        "folderless": true,
        "list": "={{ \"list_id\" }}",
        "name": "=Onboard {{ $$(\"Calculate Lead Score\").item.json.company }} - {{ $$(\"Calculate Lead Score\").item.json.name }}",
        "additionalFields": {
          "content": "=New {{ $$(\"Calculate Lead Score\").item.json.leadTier }} lead from {{ $$(\"Calculate Lead Score\").item.json.source }}.\n\nSummary: {{ $$(\"Calculate Lead Score\").item.json.summary }}\n\nContact: {{ $$(\"Calculate Lead Score\").item.json.name }} ({{ $$(\"Calculate Lead Score\").item.json.email }})\nCompany: {{ $$(\"Calculate Lead Score\").item.json.company }}\nEstimated Deal Size: ${{ $$(\"Calculate Lead Score\").item.json.estimatedDealSize }}\nProduct Interest: {{ $$(\"Calculate Lead Score\").item.json.productInterest }}\nLead Score: {{ $$(\"Calculate Lead Score\").item.json.leadScore }}",
          "dueDate": "={{ $now.plus(3, \"days\").toFormat(\"yyyy-MM-dd\") }}",
          "priority": "={{ $$(\"Calculate Lead Score\").item.json.urgency === \"high\" ? 1 : $$(\"Calculate Lead Score\").item.json.urgency === \"medium\" ? 2 : 3 }}"
        }
      },
      "id": "3a912204-73ee-4230-8a73-ef865f65d186",
      "name": "Create Onboarding Task",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1552,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.outreach.io/api/v2/sequences",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"data\": {\"type\": \"prospect\", \"attributes\": {\"email\": $$(\"Calculate Lead Score\").item.json.email, \"firstName\": $$(\"Calculate Lead Score\").item.json.name.split(\" \")[0], \"lastName\": $$(\"Calculate Lead Score\").item.json.name.split(\" \")[1], \"company\": $$(\"Calculate Lead Score\").item.json.company, \"title\": \"Contact\"}, \"relationships\": {\"sequence\": {\"data\": {\"type\": \"sequence\", \"id\": $$(\"Calculate Lead Score\").item.json.leadTier === \"hot\" ? \"1\" : \"2\"}}}}} }}",
        "options": {}
      },
      "id": "ef5bf996-be12-48ed-8ef8-704c879bf0f4",
      "name": "Trigger Personalized Outreach",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1776,
        352
      ]
    },
    {
      "parameters": {
        "content": "I collect multibound lead from different channels \nand collect all the relevant information from the leads. \nAfter merging we make sure to remove duplicate emails from the information.",
        "height": 720,
        "width": 832
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1968,
        32
      ],
      "typeVersion": 1,
      "id": "b95351f5-c97a-41f2-a52a-5b657282f13b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "From here , an AI agent is used to classify the lead\n information based on different aspects such as intent,\n urgency, Estimated size, summary, spam etc. \n\nSpams are filtered ",
        "height": 608,
        "width": 848,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        48
      ],
      "typeVersion": 1,
      "id": "8a39e4b3-3817-4ed8-bd25-26331ccafe69",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "After AI classification of the leads, they are combined and enriched. Enrichment is done with apollo and clearbit, this is where more information is added to person(personal email) or company (company domain which is name ). Then using function node leads are scored for example >= 70 can be more important amd less than 40 is less important",
        "height": 592,
        "width": 704,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        64
      ],
      "typeVersion": 1,
      "id": "e982b5ee-c32f-4c2c-aa75-1a332b5c4ff1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "formTitle": "hubspot lead",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full name"
            },
            {
              "fieldLabel": "email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Company"
            },
            {
              "fieldLabel": "phone",
              "fieldType": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1328,
        1152
      ],
      "id": "78f1bf04-454d-4485-abb8-cea5b83cd2e6",
      "name": "On form submission",
      "webhookId": "207c9b12-5496-4dca-9ff2-18c6a47a40d6"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "associatedCompanyId": 431490112741,
          "firstName": "={{ $json['Full name'] }}",
          "phoneNumber": "={{ $json.phone }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        -1120,
        1168
      ],
      "id": "82c32e2c-9629-4616-9579-2b3e8868852a",
      "name": "Create or update a contact",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "4EpgSpG6KY2bbfEj",
          "name": "HubSpot OAuth2 API"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Inbound Leads": {
      "main": [
        [
          {
            "node": "Normalize Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Webhook Data": {
      "main": [
        [
          {
            "node": "Merge All Lead Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Lead Sources": {
      "main": [
        [
          {
            "node": "Deduplicate by Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form - Contact Us": {
      "main": [
        [
          {
            "node": "Normalize Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Form Data": {
      "main": [
        [
          {
            "node": "Merge All Lead Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Deduplicate by Email": {
      "main": [
        [
          {
            "node": "AI Lead Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Lead Classifier": {
      "main": [
        [
          {
            "node": "Filter Spam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-5 Mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Lead Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Lead Analysis": {
      "ai_outputParser": [
        [
          {
            "node": "AI Lead Classifier",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Filter Spam": {
      "main": [
        [
          {
            "node": "Combine Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Lead Data": {
      "main": [
        [
          {
            "node": "Enrich with Apollo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Person - Clearbit": {
      "main": [
        [
          {
            "node": "Enrich Company - Clearbit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Company - Clearbit": {
      "main": [
        []
      ]
    },
    "Merge Enrichment Data": {
      "main": [
        []
      ]
    },
    "Enrich with Apollo": {
      "main": [
        [
          {
            "node": "Calculate Lead Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Lead Score": {
      "main": [
        [
          {
            "node": "Route to Sales Rep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Sales Rep": {
      "main": [
        [
          {
            "node": "Create HubSpot Deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create HubSpot Deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create HubSpot Deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create HubSpot Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HubSpot Deal": {
      "main": [
        [
          {
            "node": "Notify Sales Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Sales Team": {
      "main": [
        [
          {
            "node": "Create Audit Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Audit Record": {
      "main": [
        [
          {
            "node": "Create Onboarding Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Onboarding Task": {
      "main": [
        [
          {
            "node": "Trigger Personalized Outreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Create or update a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Form - Contact Us": [
      {
        "name": "Mordi josh",
        "email": "vlieger360@gmail.com",
        "company": "My secret scent",
        "message": "I am looking for a specific perfume called storm. It is said to be the best thing in the market",
        "submittedAt": "2026-05-12T23:10:36.695+01:00",
        "formMode": "test"
      }
    ]
  },
  "meta": {
    "instanceId": "a037da0563777864d042d8150ea9051ad52a9afd8728b9bd7dbc512b395dcb72"
  }
}
