Nasa perfume chatbox
{
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Nasa. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -768,
        -288
      ],
      "id": "f8f497b2-9477-47ec-bddf-9fa2a31cf3df",
      "name": "When chat message received",
      "webhookId": "1f610a2d-2c56-4b8a-a8a5-68075c5ed4ba"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -560,
        -288
      ],
      "id": "0735058d-75b2-402a-9fc2-c28362000793",
      "name": "AI Agent",
      "notesInFlow": true,
      "notes": "This is the ai agent that parents three other nodes"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -736,
        -32
      ],
      "id": "820d390b-e6e7-441b-b56d-7acc057e47fc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2oiWuYrkMqpJlZWf",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -544,
        -32
      ],
      "id": "a75af730-c127-4ca5-a06f-646966097ccd",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "8nGy44h7zakJ5Pjc",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "Your name is Naza, your job is to retrieve information from documents to assit in selecting the different prices of perfume"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -320,
        -96
      ],
      "id": "eadbf830-950c-478c-af38-617d6ed5c168",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        144
      ],
      "id": "4f245c79-8d9d-4fb1-a5f2-301067239df1",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "2oiWuYrkMqpJlZWf",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -304,
        352
      ],
      "id": "70d67cb3-c0c5-4a83-a3b3-109f53fcc429",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "2oiWuYrkMqpJlZWf",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1rODWBYE-l65ggla9DaNxxLgIkYTvwiqo",
          "mode": "list",
          "cachedResultName": "Nasa",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rODWBYE-l65ggla9DaNxxLgIkYTvwiqo"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        336,
        -144
      ],
      "id": "97da80da-69d7-4111-b427-90d2dcc57733",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rQQy7YM3zaVHoZxb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c228491-7d5e-4af2-8049-e91a6d59c8c5",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        -240
      ],
      "id": "d3a8a0b4-7b77-455d-8bf4-a59fe6c5c014",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1040,
        -240
      ],
      "id": "b0231f8e-9cf7-4624-a7b0-1588e2237f3e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rQQy7YM3zaVHoZxb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1232,
        -32
      ],
      "id": "caec56f4-494c-4949-8958-b004b0e4bfd7",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "2oiWuYrkMqpJlZWf",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "field",
                "value": "={{ $('Edit Fields').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1392,
        -16
      ],
      "id": "f1ba094f-2a88-4c9b-939b-60492ecc02f1",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "content": "Ai agent here is the parents to three or more other nodes. first being the chat model (Ai brain), then the memory(postgress wull be easy b/cs it integrates with supabase). Lastly tools(can be many but we add a vector store which retrieves from the database ",
        "height": 528,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        -432
      ],
      "typeVersion": 1,
      "id": "4a81f646-a26a-4a81-8c86-9173fe37f3a9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -384,
        144
      ],
      "id": "8f49a742-7e26-420d-aa8c-4758fc6d0a88",
      "name": "Supabase To Retrive data",
      "credentials": {
        "supabaseApi": {
          "id": "tpsD1snCmNcQanfi",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1264,
        -240
      ],
      "id": "7b0b517c-3688-4961-bbb0-5ab0fcc7d896",
      "name": "Add document to database",
      "credentials": {
        "supabaseApi": {
          "id": "tpsD1snCmNcQanfi",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>field=like.{{ $json.id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        816,
        -240
      ],
      "id": "9b07d962-d503-4247-8137-9d3a1f534cd7",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "tpsD1snCmNcQanfi",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "This is supabase a vector store that adds documents ito the database,(go to its docs and save a json script back in supabas) it only funcions when it is connected to a an embedding(Ai) and a data loader (this sprcifies how the document is added and its metadata",
        "height": 512,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        -384
      ],
      "typeVersion": 1,
      "id": "cdf2647e-5a72-48cb-940e-a5a1da28822d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1rODWBYE-l65ggla9DaNxxLgIkYTvwiqo",
          "mode": "list",
          "cachedResultName": "Nasa",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rODWBYE-l65ggla9DaNxxLgIkYTvwiqo"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        336,
        -336
      ],
      "id": "be8fa562-608d-48c7-97ba-e996d42cfe68",
      "name": "Updated File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rQQy7YM3zaVHoZxb",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase To Retrive data",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Add document to database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Add document to database",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Add document to database",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Supabase To Retrive data": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updated File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dde4fc4c62478cd1b2d728d3c0ca8ee8401bcc934d50f708d35dbcd718dc2a37"
  }
}
