Nasa perfume chatbox
{
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Nasa. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -144,
        144
      ],
      "id": "f7956c75-d9e9-4430-b3f5-009d2abb4b67",
      "name": "When chat message received",
      "webhookId": "1f610a2d-2c56-4b8a-a8a5-68075c5ed4ba"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        64,
        144
      ],
      "id": "cdfd4e16-61ea-48f8-be5a-df47d6ada8a5",
      "name": "AI Agent",
      "notesInFlow": true,
      "notes": "This is the ai agent that parents three other nodes"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -112,
        400
      ],
      "id": "90a35ebd-2cc7-4c76-9fe7-98b4f4d90764",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        80,
        400
      ],
      "id": "42dadaa7-4e33-47c8-a03c-65172a08512f",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "description": "Your name is Naza, your job is to retrieve information from documents to assit in selecting the different prices of perfume"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        304,
        336
      ],
      "id": "4f1d9041-aca1-4106-b85a-cb57f7d0d553",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        576
      ],
      "id": "60bc01cd-9288-446d-8476-02092828d87f",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        784
      ],
      "id": "5ea4d2ff-56ae-4da7-aac9-f93a0764ad5e",
      "name": "Embeddings Google Gemini2"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1rODWBYE-l65ggla9DaNxxLgIkYTvwiqo",
          "mode": "list",
          "cachedResultName": "Nasa",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rODWBYE-l65ggla9DaNxxLgIkYTvwiqo"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        960,
        288
      ],
      "id": "84a7284a-6556-467b-b5f9-161af7038e50",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c228491-7d5e-4af2-8049-e91a6d59c8c5",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        192
      ],
      "id": "5dda171f-fdde-4906-9c8b-d38ab0d88649",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1664,
        192
      ],
      "id": "dc7e348e-b19d-43bb-83b3-72d9df5f052d",
      "name": "Download file"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1856,
        400
      ],
      "id": "96e6c955-464f-4b9c-8b9f-d12e06b06d7e",
      "name": "Embeddings Google Gemini1"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "field",
                "value": "={{ $('Edit Fields').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2016,
        416
      ],
      "id": "91059519-8484-412b-9b37-a49ffc78a8f9",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "content": "Ai agent here is the parents to three or more other nodes. first being the chat model (Ai brain), then the memory(postgress wull be easy b/cs it integrates with supabase). Lastly tools(can be many but we add a vector store which retrieves from the database ",
        "height": 528,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "73c8e8b4-f711-4e09-9846-5e0da9d03cba",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        240,
        576
      ],
      "id": "c42cffd4-00c0-485e-bc22-65726faa8697",
      "name": "Supabase To Retrive data"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1888,
        192
      ],
      "id": "838b188e-cba7-4eb3-b332-65550cb4fed4",
      "name": "Add document to database"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>field=like.{{ $json.id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1440,
        192
      ],
      "id": "a709a5bc-c9dc-4737-a2b7-101ed500b885",
      "name": "Delete a row",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1rODWBYE-l65ggla9DaNxxLgIkYTvwiqo",
          "mode": "list",
          "cachedResultName": "Nasa",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rODWBYE-l65ggla9DaNxxLgIkYTvwiqo"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        960,
        96
      ],
      "id": "17f01e65-2984-4ebf-8c41-b26a10e64502",
      "name": "Updated File"
    },
    {
      "parameters": {
        "content": "This is supabase a vector store that adds documents ito the database,(go to its docs and save a json script back in supabas) it only funcions when it is connected to a an embedding(Ai) and a data loader (this sprcifies how the document is added and its metadata              \n\nthis is the RAG system, there is a delete row node fro supabase becasue of the update file node at the begining. This is too prevent a duplicate when being added to the vector stiore",
        "height": 512,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        -80
      ],
      "typeVersion": 1,
      "id": "12d1aec4-8bf3-475d-8b2b-0277be9e2a4c",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase To Retrive data",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Add document to database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Add document to database",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Add document to database",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Supabase To Retrive data": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updated File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "a037da0563777864d042d8150ea9051ad52a9afd8728b9bd7dbc512b395dcb72"
  }
}
